/* Colors */
$textColors: (
  'primary': #050505,
  'secondary': #65676b
);
$bgColors: (
  'web-wash': #f0f2f5,
  'white': #fff,
  'image-icon': #e4e6eb,
  'grey-hover': #d8dde4,
  'grey-light': rgb(240, 238, 238)
);

$blues: (
  'primary': #1b74e4,
  'accent': hsl(214, 89%, 52%),
  'blue3': #3578e5,
  'bg': #e7f3ff
);
$reds: (
  'primary': #e41e3f
);

$font-family: Segoe UI Historic, Segoe UI, Helvetica, Arial, sans-serif;

$header-height: 3.5rem;
