@import 'src/sass/index';
.first-panel {
  @include flex(column);
  &__header {
    @include flex(row);
    cursor: pointer;
    gap: 0.7rem;
    padding: 0.5rem;
    border-radius: 7px;
    &:hover {
      background-color: map-get($bgColors, 'web-wash');
    }
    &__picture {
      @include grid-center();
      & img {
        border-radius: 50%;
      }
    }
    &__body {
      @include flex(column, nowrap, center);
      & span:nth-child(1) {
        font-size: 1.1rem;
        font-weight: 800;
      }
      & span:nth-child(2) {
        color: map-get($textColors, 'secondary');
      }
    }
  }
  &__divide {
    padding: 0.5rem;
    div {
      height: 1px;
      width: 100%;
      background-color: map-get($bgColors, 'grey-hover');
    }
  }
  &__footer {
    @include flex(row, wrap, initial, center);
    padding: 0.5rem;
    &__item {
      cursor: pointer;
      font-size: 0.9rem;
      color: map-get($textColors, 'secondary');
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
