@import 'src/sass/index';
.stories-list {
  display: grid;
  grid-auto-flow: dense;
  grid-template-rows: auto 0px 0px;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 6rem), 1fr));
  margin: auto;
  gap: 0.5rem;
  width: 100%;
  max-width: 600px;
  padding: 0.5rem 0rem;
  @include medium-home() {
    max-width: 690px;
    padding: 0.5rem 2.5rem;
  }
  @include smaller() {
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 4rem), 1fr));
    max-width: 100%;
    padding: 0.5rem;
  }
}
