@import 'src/sass/index';
.footer-comments {
  &__filter {
    @include flex(row, nowrap, right, center, 0.2rem);
    padding: 0.5rem 0;
    &__text {
      cursor: pointer;
      font-size: 0.93rem;
      font-weight: 600;
    }
    &__icon {
      filter: invert(0.4);
    }
  }
  &__more {
    @include flex(row, wrap, space-between, center, 0.5rem);
    font-weight: 600;
    padding: 0 0 0.5rem 0;
    & span:nth-child(1):hover {
      cursor: pointer;
      text-decoration: underline;
    }
  }
}
